{% extends "base2.html.twig" %}

{% block header %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Annonce</h1>
				</div>
				<!-- /.col -->
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">
							<a href="{{ path('app_dashboard') }}">Dashboard</a>
						</li>
						<li class="breadcrumb-item active">Annonce</li>
					</ol>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>

	<div class="container-fluid">
		<form id="search-form">
			<div class="row">
				<div class="col-md-10 offset-md-1">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<input type="search" id="search" class="form-control form-control-lg" placeholder="Trouver une annonce" value="">
							<div class="input-group-append">
								<button type="submit" class="btn btn-lg btn-default">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="container-fluid">
		<section class="content">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Liste des annonces</h3>
					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>
				</div>
				<div class="card-body p-0" id="annonce-list">
					{% include "dashboard/annonce/_annonce_list.html.twig" %}
				</div>
			</div>
		</section>
	</div>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
const searchInput = document.getElementById('search');

searchInput.addEventListener('keyup', function () {
const query = searchInput.value;
fetch (`?search=${query}`, {
headers: {
'X-Requested-With': 'XMLHttpRequest'
}
}).then(response => response.text()).then(html => {
document.getElementById('annonce-list').innerHTML = html;
});
});
});
	</script>


{% endblock %}
