{% extends 'base.html.twig' %}

{% block title %}New Annonce
{% endblock %}

{% block body %}
	<div class="container">
		
		<div class="row mt-3">
			<div class="col-md-12">
				<div class="wow fadeInUp" data-wow-delay="0.5s">
					<h1>Créer une nouvelle Annonce</h1>
					{% include "annonce/_form.html.twig" %}
				</div>
			</div>
		</div>
		
	</div>

	<script>
		document.addEventListener('DOMContentLoaded', function () {
});
	</script>

{% endblock %}
