	{% extends "base2.html.twig" %}
{% block header %}
	<div class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1 class="m-0">Dashboard</h1>
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</div>

{% endblock %}
{% block body %}
	<section="content">

		<div class="container-fluid">
			<div class="row">
				<div
					class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-info">
						<div class="inner">
							<h3>{{totalAnnonces}}</h3>

							<p>Annonces</p>
						</div>
						<div class="icon">
							<i class="ion ion-bag"></i>
						</div>
						<a href="#" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div
					class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-success">
						<div class="inner">
							<h3>53<sup style="font-size: 20px">%</sup>
							</h3>

							<p>Reservations</p>
						</div>
						<div class="icon">
							<i class="ion ion-stats-bars"></i>
						</div>
						<a href="#" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div
					class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-warning">
						<div class="inner">
							<h3>{{ totalUsers }}</h3>
							<p>User Registrations</p>
						</div>

						<div class="icon">
							<i class="ion ion-person-add"></i>
						</div>
						<a href="#" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
				<div
					class="col-lg-3 col-6">
					<!-- small box -->
					<div class="small-box bg-danger">
						<div class="inner">
							<h3>{{totalReclamations}}</h3>

							<p>Reclamations</p>
						</div>
						<div class="icon">
							<i class="ion ion-pie-graph"></i>
						</div>
						<a href="#" class="small-box-footer">More info
							<i class="fas fa-arrow-circle-right"></i>
						</a>
					</div>
				</div>
				<!-- ./col -->
			</div>

		</div>
		<div class="row">
			<section class="col-lg-7 connectedSortable ui-sortable">
				<div class="card">
					<canvas id="myChart"></canvas>

				</div>

			</section>
			<section class="col-lg-5 connectedSortable ui-sortable">
				<div class="card">
					<canvas id="myChart2"></canvas>

				</div>
				<div class="card">
					<canvas id="myChart3"></canvas>
				</div>
			</section>
		</div>

	</section>


	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script>
        // Récupérer les données PHP dans JavaScript
        var categoriesAvecNombreOccurrences = {{ categoriesAvecNombreOccurrences | json_encode| raw }};
        
        // Préparer les labels et les données pour le graphe
        var labels = categoriesAvecNombreOccurrences.map(function(cat) { return cat.nomCategorie; });
        var data = categoriesAvecNombreOccurrences.map(function(cat) { return cat.nombreOccurrences; });
        
        // Sélectionner le canvas
        var ctx = document.getElementById('myChart').getContext('2d');
        
        // Créer votre graphe
        var myChart = new Chart(ctx, {
            type: 'bar', // Type de graphe (bar, line, pie, etc.)
            data: {
                labels: labels,
                datasets: [{
                    label: 'Occurrences d\'Annonces par Catégorie',
                    data: data,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Nombre d\'Occurrences'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Catégorie'
                        }
                    }
                }
            }
        });
    </script>

{% endblock %}
